@using TodoApplication.Domain.Enums;
@model TodoTask

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Todo List</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status"></label>
                <select asp-for="Status" asp-items="@Html.GetEnumSelectList<Status>()" class="form-control"></select>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input asp-for="IsPlanned" class="form-check-input" />
                    <label class="form-check-label" asp-for="IsPlanned">Is Planned</label>
                </div>
                <span asp-validation-for="IsPlanned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueTime" class="control-label"></label>
                <input asp-for="DueTime" class="form-control" />
                <span asp-validation-for="DueTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListId" class="control-label"></label>
                <select asp-for="ListId" class="form-control">
                    <option value="">Select a Todo List</option>
                    @foreach (var todoList in ViewBag.TodoLists)
                    {
                        <option value="@todoList.Id">@todoList.Title</option>
                    }
                </select>
                <span asp-validation-for="ListId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input asp-for="IsImportant" class="form-check-input" />
                    <label class="form-check-label" asp-for="IsImportant">Is Important</label>
                </div>
                <span asp-validation-for="IsImportant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
